h1{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 50px;
    font-family: Arial;
    font-size: 45;
    background-color: aqua;


    
  
}